<div class="footer">
  <table>
    <tr>
      <td class="align-center">
        <a href="http://www.google.com"><img src="../src/img/logo-grey3x.png" width="128" height="33" alt="basecamp"></a>
        <p>React & Node boilderpalte for web, mobile</p>
      </td>
    </tr>
  </table>
</div>
