---
layout: default.hbs
subject: invite as an admin
---
<span class="preheader">
  skkim has invited you to administer. As an administrator you will be able to do anything.
  Nothing is off-limits. Don't let the power go to your head!
</span>
<div class="header">
  <table>
    <tr>
      <td class="align-left">
        <table cellpadding="0" cellspacing="0" >
          <tr>
            <td class="title-logo">
              <a href="http://www.google.com"><img src="../src/img/logo3x.png" width="33" height="33" alt="basecamp"></a>
            </td>
            <td class="title-wrapper">
              <span class="title">Invite as an admin</span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td class="align-center">
            <h2 class="msg-title">skkim invited you to administer basecamp</h2>
            <p>
              skkim has invited you to administer. As an administrator you will be able to do anything.
              Nothing is off-limits. Don't let the power go to your head!
            </p>
            {{> divider type='none' }}
            <p class="custom-msg">
              Hello skkim!
            </p>
            {{> divider type='none' }}
            {{> button type='primary' align='center'  url='https://github.com/leemunroe/grunt-email-workflow' title='Accept Invitation' }}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div class="footer">
  <table>
    <tr>
      <td class="align-center">
        <a href="http://www.google.com"><img src="../src/img/logo-grey3x.png" width="128" height="33" alt="basecamp"></a>
        <p>React & Node boilderpalte for web, mobile</p>
      </td>
    </tr>
  </table>
</div>
